@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 50px;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgb(29, 78, 216);
}

.content-table thead tr {
  background-color: #1430bd;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  font-size: 1.5em;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  font-size: 1.1em;
}

.complaints {
  border-collapse: collapse;
  margin: 0px 50px;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgb(29, 78, 216);
}

.content-table tbody tr {
  font-weight: 500;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #1d4ed8;
}

.dashboard tbody tr {
  border-bottom: 1px solid #dddddd;
  font-weight: 500;
}

.upcoming thead tr {
  background-color: #099823;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  font-size: 1.5em;
}
.upcoming tbody tr:last-of-type {
  border-bottom: 2px solid #099823;
}

.upcoming {
  border-collapse: collapse;
  margin: 25px 50px;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px #099823;
}

.past thead tr {
  background-color: #f6f672;
  color: #000000;
  text-align: left;
  font-weight: bold;
  font-size: 1.5em;
}
.past tbody tr:last-of-type {
  border-bottom: 2px solid #f6f672;
}

.past {
  border-collapse: collapse;
  margin: 25px 50px;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px #f6f672;
}
